## 第一周/第一题-pandas/重塑数据：连结

In [18]:
import pandas as pd

def concatenateTables(df1,df2):
     # 编写一个解决方案，将两个 DataFrames 垂直 连接成一个 DataFrame。
     result=pd.concat([df1,df2],axis=0,ignore_index=True)
     return  result
df1=pd.DataFrame({
    'student_id':[1,2,3,4],
    'name':['lst','lsx','zwe','lcx'],
    'age':[19,16,49,52]
     })
df2=pd.DataFrame({
    'student_id':[5,6],
    'name':['Cindy','Cora'],
    'age':[18,15]
     })
concatenateTables(df1,df2)

   student_id   name  age
0           1    lst   19
1           2    lsx   16
2           3    zwe   49
3           4    lcx   52
4           5  Cindy   18
5           6   Cora   15